#page3 {
  text-align: center;
}
#page3-top-text {
  display: block;
  font-size: 72px;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 100;
  font-family: 'Source Sans Pro', sans-serif;
}
.logo-div {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.logo-div > img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo-div > #circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #000;
  position: absolute;
  top: 45%;
  left: 58%;
  animation: circle-orbit 3s linear infinite;
}
@keyframes circle-orbit {
  0% {
    top: 45%;
    left: 39%;
    width: 0px;
    height: 0px;
  }
  10% {
    top: 50%;
    left: 23%;
    width: 30px;
    height: 30px;
  }
  20% {
    top: 54%;
    left: 19%;
  }
  30% {
    top: 60%;
    left: 23%;
  }
  40% {
    top: 65%;
    left: 39%;
  }
  50% {
    top: 64%;
    left: 57%;
  }
  60% {
    top: 60%;
    left: 73%;
    width: 30px;
    height: 30px;
  }
  70% {
    top: 54%;
    left: 78%;
  }
  80% {
    top: 50%;
    left: 74%;
  }
  90% {
    top: 46%;
    left: 58%;
  }
  100% {
    top: 46%;
    left: 58%;
    width: 0px;
    height: 0px;
  }
}
#page3-bottom-text {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 64px;
  font-weight: 100;
  margin-top: 200px;
  font-family: 'Roboto Condensed', sans-serif;
}
